.wd-kanbas-navigation {
    height: 1000;
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li b{
   color:red;
   font-size: xxx-large;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation a {
    text-decoration: none;
    display: block;
    color: white;
}

.wd-kanbas-navigation .fs-2{
    color:red;
    margin-bottom: 5px;
}

.wd-kanbas-navigation .account-icon{
    color:grey;
    margin-bottom: 5px;
}






